.env
__pycache__/
*.pyc
.pytest_cache/
data/chroma/
data/raw_pdfs/
data/parsed/
data/chunks/
data/eval/
/.langgraph_api
/.langgraph_api
.langgraph_api/.langgraph_checkpoint.1.pckl
/.langgraph_api
.langgraph_api/.langgraph_checkpoint.2.pckl
.info/
/.langgraph_api
/.langgraph_api
/info
.claude 
.claude/
.claude
